<div class="container-fluid" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-4 pt-4">Enter your credentials for each payment method</h1>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-3">
            <div class="list-group" role="tablist">
                <a *ngFor="let method of paymentMethods; let i = index;" 
                    class="list-group-item list-group-item-action list-group-item-primary"
                    [ngClass]="{active: i == 0}"
                    data-toggle="list" [href]="'#' + method.name" role="tab">
                    {{method.name}}
                </a>
            </div>
            <div class="row justify-content-center mt-5">
                <button class="btn btn-primary px-4" (click)="confirm()" [disabled]="confirmProcessing" style="font-size: 120%;">
                    {{confirmProcessing ? 'Confirming...' : 'Confirm'}}
                    <span><img src="assets/images/Spinner-1s-32px.gif" *ngIf="confirmProcessing"></span>
                </button>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade border border-primary"
                    style="border-width: 2px !important;"
                    [id]="method.name" role="tabpanel" *ngFor="let method of paymentMethods; let i = index;"
                    [ngClass]="{show: i == 0, active: i == 0}">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" [src]="method.safeUrl"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>