<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card text-center p-5 w-50">
            <div class="card-body">
                <h2 class="card-title mb-5">Choose subscription plan</h2>
                <form>
                    <div class="form-group" *ngFor="let plan of plans">
                        <label>
                            <input class="form-check-input card-input-element d-none" type="radio" name="plan.id" [id]="plan.id" (click)="selectedPlan = plan;">
                            <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                                  <div class="d-flex justify-content-start">
                                    <div class="mr-2">Plan: {{plan.planName}}</div>
                                    <div class="mx-2">Price: ${{plan.price}}</div>
                                    <div class="mx-2">Setup Fee: ${{plan.setupFee}}</div>
                                  </div>
                            </div>
                        </label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="totalCycles" [(ngModel)]="totalCycles" placeholder="How many cycles of selected plan do you want?" required>
                    </div>
                    <button id="submit_btn" type="submit" class="btn btn-primary mt-2" (click)="confirm()"
                     [disabled]="subscriptionProcessing || !selectedPlan || !totalCycles || totalCycles < 1">
                        {{subscriptionProcessing ? 'Loading' : 'Confirm'}}
                        <span><img src="assets/images/Spinner-1s-32px.gif" *ngIf="subscriptionProcessing"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>