/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #303030; color: white;}

table {
    color: white !important;
}

mat-form-field {
    width: 50%;
}

mat-error, .mat-form-field.ng-dirty.ng-invalid .mat-form-field-label {
    color: #F56960 !important;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}
  
.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
}
