<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.css}"/>
    <title>Choose payment methods</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-6">
                <form id="methods_form">
                    <div class="form-group form-check" th:each="method: ${paymentMethods}">
                        <input type="checkbox" class="form-check-input" th:name="${method.id}" th:id="${method.id}">
                        <label class="form-check-label" th:for="${method.id}" th:text="${method.name}"></label>
                    </div>
                    <button id="submit_btn" type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/choose_methods.js}"></script>
</body>
</html>