<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.css}"/>
    <title>Choose payment methods</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card text-center p-2">
            <div class="card-body">
                <h2 class="card-title">Choose payment methods</h2>
                <form id="methods_form" method="post">
                    <div class="form-group form-check" th:each="method: ${paymentMethods}">
                        <input type="checkbox" class="form-check-input" th:id="${method.id}"
                               th:value="${method.name}">
                        <label class="form-check-label card-text" th:for="${method.id}"
                               th:text="${method.name}"></label>
                    </div>
                    <input hidden th:value="${seller}" id="seller_id">
                    <button id="submit_btn" type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/choose_methods.js}"></script>
</body>
</html>